@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 5, 5, 7;
  --background-end-rgb: 5, 5, 7;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #050507; /* Le noir profond de votre design */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Correction des bordures bizarres */
* {
  border-color: rgba(255, 255, 255, 0.1);
}
